<<<<<<< HEAD
#wrap { width: 100%; height: 100%; display: table; background: url(../images/common/login_bg_repeat.gif) repeat 50% 50%; }
#wrap .loginWrap { position: relative; margin: 15% auto; width: 558px; }
#wrap .loginWrap h1 { color: #fff; font-size: 38px; }
#wrap .loginWrap .login_form { width: 558px; height: 284px; padding: 35px 75px 80px; background: url(../images/common/bg_loginBox.png) no-repeat left top; }
#wrap .loginWrap .login_form .login { position: relative; margin-top: 19px; }
#wrap .loginWrap .login_form .login .login_row { display: inline-block; width: 260px; height: 34px; line-height: 34px; padding-left: 12px; background: #f3f3f3; border: 1px solid #c1c5c8; border-radius: 5px; margin-bottom: 11px; }
#wrap .loginWrap .login_form .login .login_row input { vertical-align: top; padding: 0 6px; width: 90%; height: 32px; line-height: 32px; background: none; border: 0; }
#wrap .loginWrap .login_form .login #btnLogin { position: absolute; right: 0; top: 0; display: inline-block; width: 133px; height: 79px; border: none; background: url(../images/common/adm_login_btn.png) no-repeat; }
#wrap .loginWrap .login_form .loginCheck { margin-top: 9px; }
#wrap .loginWrap .login_form .loginCheck input { vertical-align: middle; }
#wrap .loginWrap .login_form .loginCheck label { font-size: 10px; margin-left: 5px; vertical-align: middle; color: #999; }
#wrap #header { display: table-row; height: 100px; border-bottom: 1px solid #d3d3d3; position: fixed; }
#wrap #header .logo { float: left; width: 220px; height: 100px; border-bottom: 1px solid #444a50; background: url(../images/common/logo_bg.png) repeat; }
#wrap #header .logo h1 { text-align: center; line-height: 100px; }
#wrap #header .logo h1 a { color: #fff; }
#wrap #header .top { width: 100%; position: fixed; left: 220px; }
#wrap #header .top h2 { text-align: center; line-height: 75px; font-size: 33px; margin-left: -220px; }
#wrap #header .top #nav ul { height: 25px; background: #354559; }
#wrap #header .top #nav ul li { float: left; margin: 2px 0 0 24px; }
#wrap #header .top #nav ul li a { color: #fff; font-weight: 600; font-size: 13px; }
#wrap .container { background-color: #fff; position: fixed; top: 100px; bottom: 0; overflow: auto; width: 100%; }
#wrap .container .side { padding-top: 30px; height: 100%; width: 254px; position: fixed; background: url(../images/common/lnb_bg.png) repeat-y left top; }
#wrap .container .side .administrator { width: 195px; padding-left: 25px; }
#wrap .container .side .administrator strong, #wrap .container .side .administrator span { display: inline-block; width: 100%; color: #fff; font-size: 12px; margin-bottom: 6px; }
#wrap .container .side .administrator strong { font-size: 14px; }
#wrap .container .side .btnCenterBox { width: 220px; }
#wrap .container .side .lnb { position: relative; width: 220px; margin: 10px 0 25px 0; border-top: 1px solid #595f67; border-bottom: 1px solid #6f757b; }
#wrap .container .side .lnb li { width: 220px; height: auto; }
#wrap .container .side .lnb li a { display: inline-block; padding: 0 0 0 25px; border-top: 1px solid #6f757b; border-bottom: 1px solid #595f67; width: 100%; height: 31px; line-height: 29px; color: #fff; }
#wrap .container .side .lnb li.on > a, #wrap .container .side .lnb li a:hover, #wrap .container .side .lnb li a:active { z-index: 10; border: none; width: 238px; height: 31px; line-height: 31px; background: url(../images/common/lnb_over.png) no-repeat left top; }
#wrap .container .side .lnb li ul li a { padding-left: 40px; }
#wrap .container .content { /* height:100%;
display:table-cell;
// width:75%;
padding:30px 150px 0 0;
// margin:0 0 100px 270px;
// height:100%; */ width: 75%; padding: 30px 0 0; position: absolute; margin-left: 270px; margin-bottom: 100px; }
#wrap .container .content .location { margin-bottom: 17px; }
#wrap .container .content .location h2 { font-size: 2.165em; line-height: 26px; color: #2c2928; display: inline-block; }
#wrap .container .content .location span { margin: 4px 0 0 18px; font-size: 0.925em; color: #818181; }
#wrap .container .content .location span:before { content: ""; margin-right: 9px; width: 1px; height: 10px; display: inline-block; background-color: #cdcdcd; }
#wrap .container .content .location ul { display: block; text-align: right; margin-top: 5px; padding-left: 15px; }
#wrap .container .content .location ul li { display: inline-block; font-size: 12px; color: #a0a3a5; padding-right: 5px; }
#wrap .container .content .location ul li:first-child:before { background: none; }
#wrap .container .content .location ul li:before { content: ""; display: inline-block; width: 2px; height: 8px; margin-right: 9px; background: url(../images/common/userNav_arrow.gif) no-repeat right 50%; }
#wrap .container .content .boardTotal { clear: both; margin-top: 30px; padding-bottom: 2px; text-align: left; }
#wrap .container .content .calendar { margin: 30px 0 10px; }
#wrap .container .content .calendar .monthWrap { display: inline-block; }
#wrap .container .content .calendar .monthWrap button { font-size: 13px; padding: 3px 7px 3px 0px; }
#wrap .container .content .calendar .monthWrap button:before { content: ""; margin-right: 10px; display: inline-block; width: 1px; height: 8px; background-color: #000; }
#wrap .container .content .calendar .monthWrap button:first-child:before { background: none; }
#wrap .container .content .replyWrap { padding: 25px 0; overflow: hidden; }
#wrap .container .content .replyWrap ul { margin-top: 0; position: relative; padding-left: 20px; }
#wrap .container .content .replyWrap ul:first-child { padding-left: 0; border-bottom: 1px solid #C8C8C8; }
#wrap .container .content .replyWrap ul:first-child > li:before, #wrap .container .content .replyWrap ul:first-child > li:after { background: none; }
#wrap .container .content .replyWrap ul:first-child > li > .reply { padding-left: 0; }
#wrap .container .content .replyWrap ul li { position: relative; font-size: 11px; }
#wrap .container .content .replyWrap ul li:before, #wrap .container .content .replyWrap ul li:after { content: ''; position: absolute; right: auto; }
#wrap .container .content .replyWrap ul li:before { width: 8px; height: 8px; top: 10px; background: url(../images/common/reply.png) no-repeat; }
#wrap .container .content .replyWrap ul li:after { border-top: 1px solid #C8C8C8; top: 0px; left: -50%; width: 150%; }
#wrap .container .content .replyWrap ul li.last:before { height: 15px; }
#wrap .container .content .replyWrap ul li strong { padding-right: 7px; font-size: 15px; }
#wrap .container .content .replyWrap ul li input[type="text"] { width: 100%; margin-top: 1px; }
#wrap .container .content .replyWrap ul li .comment { font-size: 13px; padding: 5px 0; }
#wrap .container .content .replyWrap ul li .reply { padding: 5px 0 5px 15px; }
#wrap .container .content .replyWrap ul li .reply .btnWrap { display: inline-block; float: right; border-bottom: none; margin-top: 0; padding: 0; width: auto; }
#wrap .container .content .replyWrap .replyRegist { background-color: #F8F8F8; padding: 13px; border-bottom: 1px solid #C8C8C8; }
#wrap .container .content .replyWrap .textareaWrap { position: relative; padding: 5px 0; padding-right: 60px; }
#wrap .container .content .replyWrap .textareaWrap .replyMod { width: 100%; overflow: auto; line-height: 14px; height: 53px; resize: none; }
#wrap .container .content .replyWrap .textareaWrap .btnAdd, #wrap .container .content .replyWrap .textareaWrap .btnUpdate { position: absolute; top: 5px; right: 0; background: #0094ff; width: 56px; height: 53px; border-radius: 7px; border: 1px solid #246095; color: #fff; font-size: 14px; font-weight: 600; }
#wrap .container .content .researchWrap { background: #f1f1f1; border: 1px solid #e3e3e3; padding: 25px 1%; min-height: 300px; }
#wrap .container .content .researchWrap .btnAddQuiz { background: #0094ff; width: 80px; height: 35px; border-radius: 7px; border: 1px solid #246095; color: #fff; font-weight: 600; }
#wrap .container .content .researchWrap dl { position: relative; width: 100%; }
#wrap .container .content .researchWrap dl dt { padding: 0 30px 0 50px; margin: 10px 0; }
#wrap .container .content .researchWrap dl dt strong { position: absolute; left: 0; }
#wrap .container .content .researchWrap dl dt button { position: absolute; right: 0; top: 0; }
#wrap .container .content .researchWrap dl dt input[type=text] { width: 100%; }
#wrap .container .content .researchWrap dl dd ul li { position: relative; min-height: 21px; padding: 5px 55px 5px 50px; }
#wrap .container .content .researchWrap dl dd ul li label { position: absolute; left: 12px; }
#wrap .container .content .researchWrap dl dd ul li input[type="text"] { width: 100%; }
#wrap .container .content .researchWrap dl dd ul li .btnWrap { position: absolute; display: inline-block; right: 0; top: 5px; }
#wrap .container .content .researchWrap ul .qz_ex { width: 75%; }
#wrap .container .content .researchWrap ul .result_wrap { position: absolute; right: 0; width: 262px; }
#wrap .container .content .researchWrap ul .result_box { width: 102px; height: 12px; display: inline-block; background: #dfdfdf; position: relative; vertical-align: middle; }
#wrap .container .content .researchWrap ul .result_box .graph { position: absolute; height: 12px; background: #7dd3a3; display: inline-block; }
#wrap .container .content .researchWrap ul strong { color: #34b26b; vertical-align: middle; padding: 0 7px 0 17px; }
#wrap .container .content .researchWrap ul span { color: #393939; }
#wrap .container .content .researchWrap .qz_result { line-height: 46px; color: #33b36b; background: #fff; font-weight: 600; font-size: 16px; padding: 0 17px 0 44px; margin-top: 17px; }
#wrap .container .content .researchWrap .qz_result strong { font-size: 14px; }
#wrap .box { border: 1px solid #ccc; padding: 5px 10px; }
#wrap .box ul li a { color: #505050; width: 100%; line-height: 24px; }
#wrap .box ul li a:before { content: '- '; }
#wrap .box ul li a.dim:before { content: '- '; color: #999; }
#wrap .box ul li a.dim span { color: #999; }
#wrap .box ul li a.ongoing span { font-weight: bold; }
#wrap .box ul li a span:first-child + span { margin-left: 10px; width: 80px; font-size: 12px; color: #9e9e9e; }
#wrap .box ul li a .ing { margin-left: 10px; font-size: 11px; padding: 2px 5px; background-color: #FF5A00; color: #fff; }
#wrap .box ul li .btns button { border: none; margin-right: 2px; font-size: 11px; border-radius: 2px; padding: 2px 5px; }

.popup { display: none; position: fixed; top: 100; left: 0; width: 100%; height: 100%; z-index: 100; }
.popup.on { display: block; }
.popup .bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0.5; filter: alpha(opacity=50); }
.popup table.blueList, .popup .topBox { margin-bottom: 0px; }
.popup .modal-header { position: relative; font-size: 16px; color: #fff; background: #3571B5; padding: 10px 25px; background-color: #FF5A00; }
.popup .modal-close { position: absolute; top: 0; right: 0; }
.popup .modal-close a { display: inline-block; padding: 9px 13px; font-size: 20px; color: #fff; }
.popup .modal-layer { display: block; position: absolute; top: 10%; left: 50%; width: 410px; height: auto; background-color: #fff; z-index: 10; }
.popup .modal-layer .modal-container { padding: 20px 25px; }
.popup .modal-layer p.ctxt { color: #666; line-height: 25px; }
.popup .modal-layer .btn-r { width: 100%; border-top: 1px solid #DDD; text-align: right; padding-top: 25px; }
.popup .modal-layer .modal-conts { padding-bottom: 25px; }
.popup .modal-layer .modal-conts input { padding: 0 10px; height: 30px; }

#loading { display: none; width: 100%; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: url(../images/common/bg.png); z-index: 9999; }
#loading div { -moz-box-shadow: 0px 0px 7px #555; -webkit-box-shadow: 0px 0px 7px #555; -ms-box-shadow: 0px 0px 7px #555; box-shadow: 0px 0px 7px #555; text-align: center; font-size: 12px; font-weight: bold; color: #555; background: #fff; padding: 30px; position: absolute; top: 50%; left: 50%; margin-left: -74px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#loading div img { margin-bottom: 2px; }

/*# sourceMappingURL=common.css.map */
=======
@charset "UTF-8";

@font-face{
	font-family: 'NanumBarunGothic';
	src: url(../fonts/NanumBarunGothic.woff) format("woff");
}

.clipTest{
	/* position: absolute; */
	clip: rect(10px, 20px, 20px, 10px);
	width:1px;
}

*{box-sizing: border-box; }
html { font-size: 1em; }
body { font-size: 0.875em; color: #555;font-family: NanumBarunGothic; }

button { cursor: pointer; }

a { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { line-height: 1.25; font-weight: bold; }


/* IR */
legend,
.hidden { position: absolute; clip: rect(0, 0, 0, 0); width: 1px; height: 1px; margin: -1px; overflow: hidden; }
caption { clip: rect(0, 0, 0, 0); width: 1px; height: 1px; margin: -1px; overflow: hidden; }

/* float */
.floatLeft { float: left; }
.floatRight { float: right; }
.clearfix:after { content: ''; display: table; width: 100%; clear: both; }

/* inline-block 스페이스바 삭제 */
.wordSpacingClear { word-spacing: -4px; }
.wordSpacingClear a, .wordSpacingClear span { word-spacing: normal; }

/* text 생략 */
.ellipsis { width: 100%; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.clamp2 { white-space: normal; line-height: 1.2; height: 2.4em; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }

/* 버튼 정렬 */
.btnLeftBox { text-align: left; }

.btnCenterBox { text-align: center; }

.btnRightBox { text-align: right; }

.btn_margin9 button, .btn_margin9 a { margin-left: 9px; }
.btn_margin9 button:first-child, .btn_margin9 a:first-child { margin-left: 0; }

.mt20 { margin-top: 20px; }

/* 썸네일 확대 */
.img_zoom:hover { overflow: hidden; }
.img_zoom:hover img { transform: scale(1.1, 1.1); transition: all 0.4s; }

/*# sourceMappingURL=reset.css.map */
>>>>>>> parent of 4ea82a1... 어드민 버튼, 아이콘 추가
