@charset "UTF-8";
/* font */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* { box-sizing: border-box; }

html, body { font-family: 'Noto Sans KR', sans-serif; height: 100%; }

/* IR */
legend, .hidden { position: absolute; clip: rect(0, 0, 0, 0); width: 1px; height: 1px; margin: -1px; overflow: hidden; }

caption { position: relative; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden; }

/* sursor */
button { cursor: pointer; }

a { text-decoration: none; }

/* float */
.float_left { float: left; }

.float_right { float: right; }

.clearfix:after, .thumbList.type01 figure:after, .thumbList.type02 ul:after, .thumbList.type03 figure:after, .tableView dd.headSub:after, .paging ul:after { content: ''; display: table; width: 100%; clear: both; }

/* text 생략 */
.ellipsis, .ellipsis2, .ellipsis3, .ellipsis4 { width: 100%; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: left; }

.ellipsis2 { white-space: normal; line-height: 1.2; height: 2.4em; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }

.ellipsis3 { white-space: normal; line-height: 1.54; height: 4.62em; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }

.ellipsis4 { white-space: normal; line-height: 1.54; height: 6.16em; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; }

/* form */
select, input { height: 22px; }

select { padding: 0; }

/* align */
.textLeft { text-align: left; }

.textCenter { text-align: center; }

.textRight { text-align: right; }

.textMiddle::before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
.textMiddle > * { vertical-align: middle; }

/* 간격 margin & padding */
.mt5 { margin-top: 5px !important; }

.mt10 { margin-top: 10px !important; }

.mt15 { margin-top: 15px !important; }

.mt20 { margin-top: 20px !important; }

.mt25 { margin-top: 25px !important; }

.mt30 { margin-top: 30px !important; }

.mt35 { margin-top: 35px !important; }

.mt40 { margin-top: 40px !important; }

.mt45 { margin-top: 45px !important; }

.mt50 { margin-top: 50px !important; }

.mt55 { margin-top: 55px !important; }

.mt60 { margin-top: 60px !important; }

.mt65 { margin-top: 65px !important; }

.mt70 { margin-top: 70px !important; }

.mr5 { margin-right: 5px !important; }

.mr10 { margin-right: 10px !important; }

.mr15 { margin-right: 15px !important; }

.mr20 { margin-right: 20px !important; }

.mr25 { margin-right: 25px !important; }

.mr30 { margin-right: 30px !important; }

.mr35 { margin-right: 35px !important; }

.mr40 { margin-right: 40px !important; }

.mr45 { margin-right: 45px !important; }

.mr50 { margin-right: 50px !important; }

.mr55 { margin-right: 55px !important; }

.mr60 { margin-right: 60px !important; }

.mr65 { margin-right: 65px !important; }

.mr70 { margin-right: 70px !important; }

.mb5 { margin-bottom: 5px !important; }

.mb10 { margin-bottom: 10px !important; }

.mb15 { margin-bottom: 15px !important; }

.mb20 { margin-bottom: 20px !important; }

.mb25 { margin-bottom: 25px !important; }

.mb30 { margin-bottom: 30px !important; }

.mb35 { margin-bottom: 35px !important; }

.mb40 { margin-bottom: 40px !important; }

.mb45 { margin-bottom: 45px !important; }

.mb50 { margin-bottom: 50px !important; }

.mb55 { margin-bottom: 55px !important; }

.mb60 { margin-bottom: 60px !important; }

.mb65 { margin-bottom: 65px !important; }

.mb70 { margin-bottom: 70px !important; }

.ml5 { margin-left: 5px !important; }

.ml10 { margin-left: 10px !important; }

.ml15 { margin-left: 15px !important; }

.ml20 { margin-left: 20px !important; }

.ml25 { margin-left: 25px !important; }

.ml30 { margin-left: 30px !important; }

.ml35 { margin-left: 35px !important; }

.ml40 { margin-left: 40px !important; }

.ml45 { margin-left: 45px !important; }

.ml50 { margin-left: 50px !important; }

.ml55 { margin-left: 55px !important; }

.ml60 { margin-left: 60px !important; }

.ml65 { margin-left: 65px !important; }

.ml70 { margin-left: 70px !important; }

.pt5 { padding-top: 5px !important; }

.pt10 { padding-top: 10px !important; }

.pt15 { padding-top: 15px !important; }

.pt20 { padding-top: 20px !important; }

.pt25 { padding-top: 25px !important; }

.pt30 { padding-top: 30px !important; }

.pt35 { padding-top: 35px !important; }

.pt40 { padding-top: 40px !important; }

.pt45 { padding-top: 45px !important; }

.pt50 { padding-top: 50px !important; }

.pt55 { padding-top: 55px !important; }

.pt60 { padding-top: 60px !important; }

.pt65 { padding-top: 65px !important; }

.pt70 { padding-top: 70px !important; }

.pr5 { padding-right: 5px !important; }

.pr10 { padding-right: 10px !important; }

.pr15 { padding-right: 15px !important; }

.pr20 { padding-right: 20px !important; }

.pr25 { padding-right: 25px !important; }

.pr30 { padding-right: 30px !important; }

.pr35 { padding-right: 35px !important; }

.pr40 { padding-right: 40px !important; }

.pr45 { padding-right: 45px !important; }

.pr50 { padding-right: 50px !important; }

.pr55 { padding-right: 55px !important; }

.pr60 { padding-right: 60px !important; }

.pr65 { padding-right: 65px !important; }

.pr70 { padding-right: 70px !important; }

.pb5 { padding-bottom: 5px !important; }

.pb10 { padding-bottom: 10px !important; }

.pb15 { padding-bottom: 15px !important; }

.pb20 { padding-bottom: 20px !important; }

.pb25 { padding-bottom: 25px !important; }

.pb30 { padding-bottom: 30px !important; }

.pb35 { padding-bottom: 35px !important; }

.pb40 { padding-bottom: 40px !important; }

.pb45 { padding-bottom: 45px !important; }

.pb50 { padding-bottom: 50px !important; }

.pb55 { padding-bottom: 55px !important; }

.pb60 { padding-bottom: 60px !important; }

.pb65 { padding-bottom: 65px !important; }

.pb70 { padding-bottom: 70px !important; }

.pl5 { padding-left: 5px !important; }

.pl10 { padding-left: 10px !important; }

.pl15 { padding-left: 15px !important; }

.pl20 { padding-left: 20px !important; }

.pl25 { padding-left: 25px !important; }

.pl30 { padding-left: 30px !important; }

.pl35 { padding-left: 35px !important; }

.pl40 { padding-left: 40px !important; }

.pl45 { padding-left: 45px !important; }

.pl50 { padding-left: 50px !important; }

.pl55 { padding-left: 55px !important; }

.pl60 { padding-left: 60px !important; }

.pl65 { padding-left: 65px !important; }

.pl70 { padding-left: 70px !important; }

/* 너비 10px 부터 500px까지 */
.w10 { width: 10px !important; }

.w20 { width: 20px !important; }

.w30 { width: 30px !important; }

.w40 { width: 40px !important; }

.w50 { width: 50px !important; }

.w60 { width: 60px !important; }

.w70 { width: 70px !important; }

.w80 { width: 80px !important; }

.w90 { width: 90px !important; }

.w100 { width: 100px !important; }

.w110 { width: 110px !important; }

.w120 { width: 120px !important; }

.w130 { width: 130px !important; }

.w140 { width: 140px !important; }

.w150 { width: 150px !important; }

.w160 { width: 160px !important; }

.w170 { width: 170px !important; }

.w180 { width: 180px !important; }

.w190 { width: 190px !important; }

.w200 { width: 200px !important; }

.w210 { width: 210px !important; }

.w220 { width: 220px !important; }

.w230 { width: 230px !important; }

.w240 { width: 240px !important; }

.w250 { width: 250px !important; }

.w260 { width: 260px !important; }

.w270 { width: 270px !important; }

.w280 { width: 280px !important; }

.w290 { width: 290px !important; }

.w300 { width: 300px !important; }

.w310 { width: 310px !important; }

.w320 { width: 320px !important; }

.w330 { width: 330px !important; }

.w340 { width: 340px !important; }

.w350 { width: 350px !important; }

.w360 { width: 360px !important; }

.w370 { width: 370px !important; }

.w380 { width: 380px !important; }

.w390 { width: 390px !important; }

.w400 { width: 400px !important; }

.w410 { width: 410px !important; }

.w420 { width: 420px !important; }

.w430 { width: 430px !important; }

.w440 { width: 440px !important; }

.w450 { width: 450px !important; }

.w460 { width: 460px !important; }

.w470 { width: 470px !important; }

.w480 { width: 480px !important; }

.w490 { width: 490px !important; }

.w500 { width: 500px !important; }

/* 너비 % */
.w5p { width: 5% !important; }

.w10p { width: 9.9% !important; }

.w15p { width: 14.9% !important; }

.w20p { width: 19.9% !important; }

.w25p { width: 24.65% !important; }

.w33p { width: 33% !important; }

.w50p { width: 49.7% !important; }

.w100p { width: 100% !important; }

.guide { width: 980px; margin: 15px auto; }
.guide .guide_h1 { font-size: 2em; }
.guide .guide_h2 { font-size: 1.6em; margin: 20px 0 5px; }
.guide .guideArea { background-color: #f2f2f2; padding: 5px 20px; border: 1px solid #666; }
.guide .guideArea .codeXmp { background-color: #fff; }
.guide .guideArea .codeXmp xmp { white-space: pre-wrap; }

.thumbList.type01 a, .thumbList.type01 a:hover, .thumbList.type01 a:active { color: #666; }
.thumbList.type01 figure .imgBox { width: 20%; float: left; }
.thumbList.type01 figure .imgBox img { max-width: 100%; }
.thumbList.type01 figure figcaption { width: 80%; float: left; padding-left: 1%; }
.thumbList.type01.dataList { border-bottom: 1px solid #000; }
.thumbList.type01.dataList li { border-top: 1px solid #000; padding: 5px 0; }
.thumbList.type01.dataList li:first-child { border-top: 0; }

.thumbList.type02 a, .thumbList.type02 a:hover, .thumbList.type02 a:active { color: #666; }
.thumbList.type02 li { width: 30%; float: left; }
.thumbList.type02 li figure { width: 100%; }
.thumbList.type02 li figure .imgBox { text-align: center; overflow: hidden; height: 148px; }
.thumbList.type02 li figure .imgBox img { width: 100%; }
.thumbList.type02 li figure figcaption { padding: 5px; }
.thumbList.type02.dataList li { border: 1px solid #000; margin-left: 3%; }
.thumbList.type02.dataList li:first-child { margin-left: 0; }

.thumbList.type03 figure .imgBox { width: 20%; float: left; }
.thumbList.type03 figure .imgBox img { max-width: 100%; }
.thumbList.type03 figure figcaption { width: 80%; float: left; padding-right: 1%; }

.ulStyle.type01 li { padding-left: 10px; text-indent: -10px; margin-bottom: 0.5em; }
.ulStyle.type01 li:before { content: "· "; }
.ulStyle.type02 li { padding-left: 12px; margin-bottom: 0.5em; background: url(../images/common/dot_01.png) 0 6px no-repeat; }
.ulStyle.type03 li { padding-left: 12px; margin-bottom: 0.5em; position: relative; }
.ulStyle.type03 span { position: absolute; left: 0; }

button i, button span { vertical-align: middle; }
button i + span { margin-left: 5px; }

.button { display: inline-block; zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */ *display: inline; vertical-align: baseline; margin: 0 2px; outline: none; cursor: pointer; text-align: center; text-decoration: none; font: 14px; background-image: none; background-color: transparent; white-space: nowrap; padding: .5em 2em .55em; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); -webkit-border-radius: .5em; -moz-border-radius: .5em; border-radius: .5em; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); height: auto; }
.button:hover { text-decoration: none; }
.button:active { position: relative; top: 1px; }
.button.icon { text-shadow: none; box-shadow: none; padding: .2em .5em; border: none; }

.bigrounded { -webkit-border-radius: 2em; -moz-border-radius: 2em; border-radius: 2em; }

.medium { font-size: 12px; padding: .4em 1.5em .42em; }

.small { font-size: 11px; padding: .2em 1em .275em; }

/* black */
.black { color: #d7d7d7; border: solid 1px #333; background: #333; background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000)); background: -moz-linear-gradient(top, #666, #000); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000'); }
.black:hover { background: #000; background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000)); background: -moz-linear-gradient(top, #444, #000); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000'); }
.black:active { color: #666; background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444)); background: -moz-linear-gradient(top, #000, #444); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666'); }

/* gray */
.gray { color: #e9e9e9; border: solid 1px #555; background: #6e6e6e; background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757)); background: -moz-linear-gradient(top, #888, #575757); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757'); }
.gray:hover { background: #616161; background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b)); background: -moz-linear-gradient(top, #757575, #4b4b4b); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b'); }
.gray:active { color: #afafaf; background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888)); background: -moz-linear-gradient(top, #575757, #888); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888'); }

/* white */
.white { color: #606060; border: solid 1px #b7b7b7; background: #fff; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed)); background: -moz-linear-gradient(top, #fff, #ededed); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); }
.white:hover { background: #ededed; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc)); background: -moz-linear-gradient(top, #fff, #dcdcdc); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc'); }
.white:active { color: #999; background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff)); background: -moz-linear-gradient(top, #ededed, #fff); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff'); }

/*tab*/
.tab li { position: relative; float: left; display: inline-block; }
.tab li a { width: 100%; text-align: center; display: inline-block; text-decoration: none; color: #7b7b7b; }
.tab li a:hover, .tab li a a:actived { color: #7b7b7b; }
.tab.type01 ul li { border: 1px solid #7b7b7b; min-width: 13.42%; margin-left: .2em; margin-bottom: .2em; }
.tab.type01 ul li:first-child { margin-left: 0; }
.tab.type01 ul li.active a { background: #2b3b4e; color: #fff; }
.tab.type01 ul li a { padding: .3em .6em; }
.tab.type02 li { border: 1px solid #7b7b7b; margin-right: 1.5em; background: #f8f8f8; }
.tab.type02 li.active { border: 1px solid #c2491e; background-color: #e15525; }
.tab.type02 li.active a { color: #fff; }
.tab.type02 li:before { content: " > "; position: absolute; left: -1em; width: 0; top: 0.3em; }
.tab.type02 li:first-child:before { content: none; }
.tab.type02 li a { padding: .3em .6em; }

/*tableList*/
.tableList { width: 100%; border-bottom: 1px solid #b8b8b8; }
.tableList table { width: 100%; color: #707070; font-size: 12px; }
.tableList table th, .tableList table td { padding: 7.5px 0; }
.tableList table thead th { position: relative; font-weight: bold; }
.tableList table tbody tr td { text-align: center; }
.tableList table tbody tr td.title { text-align: left; padding-left: 5px; }
.tableList table tbody tr td.title a { color: #424242; }
.tableList.type01 table thead th { color: #fff; background: #2b3b4e; }
.tableList.type01 table thead th:before { content: ""; position: absolute; left: 0; width: 0; height: 50%; border-left: 1px solid #fff; }
.tableList.type01 table thead th:first-child:before { content: none; }
.tableList.type01 table tbody tr:nth-child(even) { background: #fafafa; }
.tableList.type01 table tbody tr td { border-top: 1px solid #d8d8d8; }
.tableList.type02 table th, .tableList.type02 table td { border-right: 1px solid #b8b8b8; border-top: 1px solid #b8b8b8; padding: 7.5px 5px; background: #fff; }
.tableList.type02 table th:first-child, .tableList.type02 table td:first-child { border-left: 1px solid #b8b8b8; }

.caution { font-size: 12px; margin-bottom: 5px; text-align: right; }

.tableRegist { width: 100%; font-size: 12px; border-top: 2px solid #6a6a6a; }
.tableRegist th, .tableRegist td { padding: 5px; color: #424242; line-height: 1.5; word-break: break-all; border-bottom: 1px solid #c8c8c8; }
.tableRegist th select, .tableRegist th input, .tableRegist th button, .tableRegist th img, .tableRegist th textarea, .tableRegist th label, .tableRegist th span, .tableRegist th i, .tableRegist td select, .tableRegist td input, .tableRegist td button, .tableRegist td img, .tableRegist td textarea, .tableRegist td label, .tableRegist td span, .tableRegist td i { vertical-align: middle; }
.tableRegist th i, .tableRegist td i { line-height: 0; }
.tableRegist th { width: 20%; text-align: center; background: #f8f8f8; }
.tableRegist td { padding-left: 15px; padding-right: 15px; border-left: 1px solid #cecece; width: 80%; text-align: left; background-color: #fff; }
.tableRegist td a { color: #424242; }
.tableRegist td.contents { height: 250px; }
.tableRegist td .errMsg { color: red !important; }
.tableRegist td #file_div { position: relative; margin-top: 10px; }
.tableRegist td #file_div:first-child { margin-top: 0; }
.tableRegist td #file_div .fileBtnGroup { float: right; }
.tableRegist td #file_div .fileBtnGroup .removeBtn { display: none; }
.tableRegist td #file_div .fileBtnGroup .removeBtn.on { display: inline-block; }

.tableView { width: 100%; font-size: 12px; border-top: 2px solid #6a6a6a; }
.tableView dt h2 { text-align: left; padding: 0 15px; height: 33px; line-height: 33px; font-size: 14px; color: #333333; border-bottom: 1px solid #d3d3d3; background: #f8f8f8; word-break: break-all; }
.tableView dd { padding: 10px 16px; text-align: left; word-break: break-all; border-bottom: 1px solid #ebebeb; background-color: #fff; }
.tableView dd.headSub { border-bottom: 1px solid #ebebeb; background-color: #fff; }
.tableView dd.headSub .float_left span { margin-right: 10px; }
.tableView dd.headSub .float_left a i { margin-right: 5px; }
.tableView dd.headSub .float_right ul li { float: left; }
.tableView dd.headSub .float_right ul li span { margin-left: 8px; }
.tableView .pageLink { border-top: 1px solid #cdcdcd; }
.tableView .pageLink .prevLink, .tableView .pageLink .nexkLink { width: 100%; border-bottom: 1px solid #d5d5d5; color: #777; }
.tableView .pageLink .prevLink div, .tableView .pageLink .nexkLink div { width: 15%; display: inline-block; text-align: center; background: #f8f8f8; line-height: 40px; height: 40px; }
.tableView .pageLink .prevLink div span, .tableView .pageLink .nexkLink div span { padding-left: 7px; }
.tableView .pageLink .prevLink div i, .tableView .pageLink .prevLink div span, .tableView .pageLink .nexkLink div i, .tableView .pageLink .nexkLink div span { vertical-align: middle; }
.tableView .pageLink .prevLink a, .tableView .pageLink .nexkLink a { width: 85%; padding-left: 20px; white-space: nowrap; overflow: hidden; text-align-last: auto; text-overflow: ellipsis; }

.red { color: #f00 !important; }

.paging { text-align: center; }
.paging ul { font-size: 0; letter-spacing: 0; word-spacing: 0; }
.paging ul li { width: auto; height: auto; display: inline-block; background-color: inherit; margin-left: 7px; overflow: hidden; display: inline-block; vertical-align: top; }
.paging ul li:first-child { margin-left: 0; }
.paging ul li.firstPage, .paging ul li.prevPage, .paging ul li.nextPage, .paging ul li.lastPage { padding: 0; margin: 0; }
.paging ul li.prevPage { margin-left: 5px; margin-right: 20px; }
.paging ul li.nextPage { margin-right: 5px; margin-left: 20px; }
.paging ul li.on a { background: #6d6d6d; border: 1px solid #6d6d6d; color: #fff; }
.paging ul li a { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; color: #666666; font-size: 13px; display: inline-block; width: 30px; height: 30px; line-height: 30px; border: 1px solid #dbdbdb; vertical-align: middle; background: #fff; }
.paging ul li a i { overflow: hidden; }
.paging ul li a i span { text-indent: -9999px; display: block; width: 0; height: 0; }

/*# sourceMappingURL=guide.css.map */
